body {
    margin: 0px;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: #4069b0;
    font-family: Arial, Helvetica, sans-serif;
}


.form {
    background-color: aliceblue;
    padding: 30px;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.3);
}


.input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border: 2px solid rgb(37, 24, 24);
    color: #525e74;
}

.input::placeholder {
    color: rgb(161, 154, 154);
    font-family: inherit;
}


.btn {
    background-color: #4069b0;
    color: aliceblue;
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 5px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn:hover {
    filter: brightness(0.9);
}


.score {
    color: #4069b0;
    text-align: right;
    font-size: 20px;

}

.footer {
    /* display: block; */
    color: #ffffff;
    text-align: center;
    margin: auto 0;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}